#question {
  margin-top: 50px;
  text-align: center;
}

.fond {
  margin-top: 50px;
  text-align: center;
  size: 100px ;
    background-color: lightpink;
    font-size: 40px;
}
.fix {
    justify-content: center;
    width: 150px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 10px;
    margin: 30px;
    outline: none;
    border: 3px solid black;
    transition: all ease 0.5s;
  }
  .flex {
    justify-content: center;
    width: 150px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 10px;
    margin: 30px;
    outline: none;
    border: 3px solid black;
    transition: all ease 0.5s;
  }
  .buttonContainer {
    margin-top: 50px;
    text-align: center;
  }
  #yesButton {
    background-color: green;
    cursor: pointer;
  }
  #yesButton:hover {
    background-color: lightgreen;
    color: white;
    border: 3px solid white;
  }
  #noButton {
    background-color: red;
    cursor: not-allowed;
  }
  #noButton:hover {
    background-color: lightcoral;
    color: white;
    border: 3px solid white;
  }